<div class="px-3 pb-5 bg-white">
  <%= form_for(@post, url: post_path(@post)) do |x| %>

		<div class="form-group">    
					<%= x.label :title%>  
					<%= x.text_field :title, 
													Placeholder: "#{current_user.first_name.capitalize}  Your question title",
													class: "'form-control post_title mt-1 mb-2 px-2 py-2", 
													id: "title"%>
				</div>
				<div class="form-group">    
					<%= x.label :content%>  
					<%= x.rich_text_area :content, 
													Placeholder: "#{current_user.first_name.capitalize} Your question body",
													class: "'form-control  post_box mt-1 mb-2 px-2 py-2", 
													id: "content"%>
				</div>

    <div class="field">
      <%= x.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="actions">
      <%= x.submit "Ask", class: "btn btn-primary post_button"  %>
    </div>
  <%end %>
</div>