
<% if user_signed_in? %>
    
	<div class="row">

    <div class="col-md-8 posts1">
			<div class="my-4 float-right">
       <%= link_to 'Ask Question', new_post_path, class: "btn btn-lg btn-success" %> 
			</div>
        <div class="clearfix">
        </div>   
        <ul class="my-3">
         <%= render @posts %>
        </ul>
				<h4> <%= will_paginate @posts, class: 'my-3 p-3 ' %> </h4>
    </div>
    <div class="col-md-4">
        <%= render 'partials/search'%>
				<div id="chat-window" class="col-md-12">
				
					<header> Channel <%= current_room.name %> </header>
					<div class="row">
						<div class="col-md-3" id="followers">
							<% @followers.each do |follower| %>
								<%= link_to follower.first_name, posts_path(current_user, roomId: follower.room.id), class: 'followers'%>
								<br />
							<% end %>
							<hr />
							<%= link_to 'My Channel', posts_path(current_user, roomId: current_user.room.id), class: 'followers'%>
						</div>

						<div class="col-md-9" id="messages-box">
							<div id="chat-box" data-room-id=<%= current_room.id%>>
									<% @messages1.each do |message| %>
										<div class="message-row">
											<p class="message-body"><%= message.body%></p>
											<span> <%= link_to image_tag(message.user.avatar.url(:thumb)), 
																user_path(message.user) %><small> <%= link_to message.user.name, user_path(message.user) %></small></span> 
										</div>
										<hr >
									<% end %>
							</div>
							
							<div id="form-box">
								<%= form_for @message do |f| %>
									<%= f.text_field :body, id: 'message-field', class: 'form-control pull-left'%>
									<%= f.submit 'Send', class: 'btn ', id: 'post-btn', data: { disable_with: false }%>
								<% end %>
							</div>
						</div>
					</div>
				</div>
    </div>
	
	</div>

<% else %>

    <h1> Please <%= link_to "Sign In", new_user_session_path %> !</h1>
<% end %>




