<!DOCTYPE html>
<html>
  <head>
    <title>Developer Networks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container-fluid">
			
      <%= render "layouts/alert" %>
      <div class="p-4">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
